<h1>Selfies</h1>

<h2><%= link_to 'New Selfy', new_selfy_path %></h2>

<ul>
<% @selfies.each do |selfy| %>
  <li><%= selfy.body %></li>
  <ul>
    <li><%= link_to 'Edit', edit_selfy_path(selfy) %></li>
    <li><%= link_to 'Delete', selfy_path(selfy), method: 'delete' %></li>
  </ul>
<% end %>
</ul>